<!-- Main Content - start -->
<main>
  <section  class="container stylization maincont" style="padding: 0;">


      <ul class="b-crumbs">
          <li>
              <a [routerLink] = "['/']">
                  Trang Chủ
              </a>
          </li>
          <li>
              <span>Giỏ Hàng</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>Giỏ Hàng Của Tôi</span></h1>
      <!-- Cart Items - start -->
      <div class="card">
          <div style="padding: 10px 0;background-color: #4a8fc5;"><b class="test" style="color:#fafafa;">Danh Sách Sản Phẩm</b></div>
      <form action="#">
          <div class="cart-items-wrap">
              <table class="cart-items">
                  <thead>
                  <tr>
                      <td style="font-size: 17px;text-align: center;" class="cart-image"><b>Ảnh</b></td>
                      <td style="font-size: 17px;" class="cart-ttl"><b>Tên Sản Phẩm</b></td>
                      <td style="font-size: 17px;" class="cart-price"><b>Giá</b></td>
                      <td style="font-size: 17px;" class="cart-quantity"><b>Số Lượng</b></td>
                      <td style="font-size: 17px;" class="cart-summ"><b>Tổng Tiền</b></td>
                      <td class="cart-del">&nbsp;</td>
                      <td class="cart-del">&nbsp;</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of this.card">
                      <td class="cart-image">
                          <a>
                              <img style="margin: 0;" src="../assets/image/{{this.item.c_product_id.pro_avatar}}" width="96px" height="80px" alt="Quod soluta corrupti">
                          </a>
                      </td>
                      <td class="cart-ttl">
                          <a [routerLink]="['/product-detail/',item.c_product_id.id]" style="font-size: 17px;font-weight: bold;">{{this.item.c_product_id.pr_name}}</a>
                      </td>
                      <td class="cart-price">
                          <b style="font-size: 18px;color: #0825f1;">{{this.item.c_product_id.pro_pay | currency:"VND"}}</b>
                          <del style="font-size: 17px;" *ngIf="this.item.c_product_id.pro_sale>0">{{this.item.c_product_id.pro_price | currency:"VND"}}</del>
                      </td>
                      <td class="cart-quantity">
                          <p class="cart-qnt">
                              <input #input value="{{this.item.c_qty}}" type="text" style="color: blue;">
                              <a style="cursor: pointer;" (click)="this.cardService.XuLyInputUp(input)" class="cart-plus"><i class="fa fa-angle-up"></i></a>
                              <a style="cursor: pointer;"(click)="this.cardService.XuLyInputDown(input)"  class="cart-minus"><i class="fa fa-angle-down"></i></a>
                          </p>
                      </td>
                      <td class="cart-summ">
                          <b style="font-size: 18px;color: #0825f1;">{{this.item.c_qty * this.item.c_product_id.pro_pay | currency:"VND" }}</b>
                      </td>

                      <td class="cart-del-2">
                        <a style="cursor: pointer;" (click)="updateCard(item,input.value)">
                          <i style="color: #3a89cf;font-size: 16px;margin-top: 6px;color: #66b91a;" class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                      </td>

                      <td class="cart-del">
                          <a (click)="deleteCard(item.id)" style="cursor: pointer; font-size: 20px;color: #ff712d;">
                            <i class="fa fa-trash"></i>
                          </a>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <ul class="cart-total">
              <li *ngIf="SumCard(this.card)>0" class="cart-summ" style="font-size: 16px;margin-right: 15px;">Tổng Cộng:<b style="padding-left: 31px;font-size: 21px;">{{SumCard(this.card) | currency : "VND"}}</b></li>
          </ul>
          <div style="margin-right: 15px;" *ngIf="SumCard(this.card) > 0" class="cart-submit">
              <a style="cursor: pointer;" (click)="check()" class="cart-submit-btn">Đặt Hàng</a>
              <a style="color: lightseagreen;cursor:pointer;" (click)="deleteAllCard()"  class="cart-clear">Xoá Giỏ Hàng</a>
          </div>
      </form>
      <!-- Cart Items - end -->
      </div>
  </section>
</main>
<!-- Main Content - end -->
