<!-- Main Content - start -->
<main>
  <section style="background-color: aliceblue;" class="container stylization maincont">


      <ul class="b-crumbs">
          <li>
              <a href="index.html">
                  Home
              </a>
          </li>
          <li>
              <span>Cart</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>Cart</span></h1>
      <!-- Cart Items - start -->
      <form action="#">

          <div class="cart-items-wrap">
              <table class="cart-items">
                  <thead>
                  <tr>
                      <td style="font-size: 19px;" class="cart-image"><b>Photo</b></td>
                      <td style="font-size: 19px;" class="cart-ttl"><b>Tên Sản Phẩm</b></td>
                      <td style="font-size: 19px;" class="cart-price"><b>Giá</b></td>
                      <td style="font-size: 19px;" class="cart-quantity"><b>Số Lượng</b></td>
                      <td style="font-size: 19px;" class="cart-summ"><b>Tổng Tiền</b></td>
                      <td class="cart-del">&nbsp;</td>
                      <td class="cart-del">&nbsp;</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of this.card" >
                      <td class="cart-image">
                          <a href="product.html">
                              <img src="../assets/image/{{this.item.c_product_id.pro_avatar}}" width="96px" height="80px" alt="Quod soluta corrupti">
                          </a>
                      </td>
                      <td class="cart-ttl">
                          <a [routerLink]="['/product-detail/',item.c_product_id.id]">{{this.item.c_product_id.pr_name}}</a>
                      </td>
                      <td class="cart-price">
                          <b>{{this.item.c_product_id.pro_price | currency:"VND"}}</b>
                      </td>
                      <td class="cart-quantity">
                          <p class="cart-qnt">
                              <input #input value="{{this.item.c_qty}}" type="text">
                              <a style="cursor: pointer;" (click)="this.cardService.XuLyInputUp(input)" class="cart-plus"><i class="fa fa-angle-up"></i></a>
                              <a style="cursor: pointer;"(click)="this.cardService.XuLyInputDown(input)"  class="cart-minus"><i class="fa fa-angle-down"></i></a>
                          </p>
                      </td>
                      <td class="cart-summ">
                          <b>{{this.item.c_qty * this.item.c_product_id.pro_price | currency:"VND" }}</b>
                      </td>

                      <td class="cart-del-2">
                        <a style="cursor: pointer;" (click)="updateCard(item,input.value)">
                          <i style="color: #3a89cf;font-size: 16px;" class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                      </td>

                      <td class="cart-del">
                          <a (click)="deleteCard(item.id)" style="cursor: pointer;" class="cart-remove"></a>
                      </td>

                  </tr>
                  </tbody>
              </table>
          </div>
          <ul class="cart-total">
              <li class="cart-summ">TOTAL: <b>$815</b></li>
          </ul>
          <div class="cart-submit">
              <a href="#" class="cart-submit-btn">Đặt Hàng</a>
              <a href="#" class="cart-clear">Clear cart</a>
          </div>
      </form>
      <!-- Cart Items - end -->

  </section>
</main>
<!-- Main Content - end -->
