<!-- Main Content - start -->
<main>
	<section class="container">


		<ul class="b-crumbs">
			<li>
				<a href="index.html">
					Home
				</a>
			</li>
			<li>
				<a [routerLink]="['/category/',productDetail?.pro_category_id.id]">
					{{productDetail?.pro_category_id.c_name}}
				</a>
			</li>
			<li>
				<span>{{productDetail?.pr_name}}</span>
			</li>
		</ul>
		<h1 class="main-ttl"><span>{{productDetail?.pr_name}}</span></h1>
		<!-- Single Product - start -->
		<div class="prod-wrap">

			<!-- Product Images -->
			<div class="prod-slider-wrap">
				<div class="prod-slider">
					<ul class="prod-slider-car">
						<li>
							<a href="/product-detail/{{productDetail?.id}}">
								<img src="../assets/image/{{productDetail?.pro_avatar}}" alt="">
							</a>
						</li>
						<li *ngFor="let item of this.imageList">
							<a>
								<img src="../assets/image/{{this.item?.im_name}}" width="500px" height="500px" alt="">
							</a>
						</li>
					</ul>
				</div>
				<div class="prod-thumbs">
					<ul class="prod-thumbs-car">
						<li>
							<a href="/product-detail/{{productDetail?.id}}" data-slide-index="0">
								<img src="../assets/image/{{productDetail?.pro_avatar}}" alt="">
							</a>
						</li>
						<ng-container *ngIf="this.imageList?.length>0">
							<li *ngFor="let item of this.imageList;let idx = index">
								<a attr.data-slide-index="{{idx+1}}">
									<img src="../assets/image/{{item.im_name}}" alt="">
								</a>
							</li>
						</ng-container>

					</ul>
				</div>
			</div>

			<!-- Product Description/Info -->
			<div class="prod-cont">
				<div class="prod-cont-txt">
					<h2 style="text-transform: uppercase;padding-bottom: 0px;">{{this.productDetail?.pr_name}}</h2>
				</div>
				<div class="prod-actions">
					<p style="font-weight: bold;color: black;" class="prod-skuttl">Đánh Giá</p>
					<span [class.checked]="isChecked1" class="fa fa-star"></span>
					<span [class.checked]="isChecked2" class="fa fa-star"></span>
					<span [class.checked]="isChecked3" class="fa fa-star"></span>
					<span [class.checked]="isChecked4" class="fa fa-star"></span>
					<span [class.checked]="isChecked5" class="fa fa-star"></span>
				</div>
				<div class="prod-skuwrap">
					<p style="font-size: 16px;font-weight: 700;color: black;" class="prod-skuttl">SẢN PHẨM CHÍNH HÃNG
						100%</p>
					<img src="../assets/image/sp.png" style="width: 108px;height: 76px;" alt="">
				</div>
				<div class="prod-info">
					<p class="prod-price">
						<b class="item_current_price"
							style="color: #ee4d2d; font-weight: 700;font-size: 24px;">{{productDetail?.pro_pay |
							currency : "VND"}}</b>
						<del *ngIf="productDetail?.pro_sale>0" style="font-size: 16px;">{{productDetail?.pro_price |
							currency : "VND"}}</del>
					</p>
					<p class="prod-qnt">
						<input #input value="1" type="text">
						<a class="prod-plus"><i (click)="XuLyInputUp(input)" class="fa fa-angle-up"></i></a>
						<a class="prod-minus"><i (click)="XuLyInputDown(input)" class="fa fa-angle-down"></i></a>
					</p>
					<p class="prod-addwrap">
						<a style="cursor: pointer;" (click)="addToCard(this.productDetail,input.value)" class="prod-add"
							rel="nofollow">Add to cart</a>
					</p>
				</div>
				<div style="border-bottom: 1px solid #ccc;padding-bottom: 10px;">
					<b style="font-size: 22px;color: cadetblue;">Số Lượng Còn : {{productDetail?.pro_number}}</b>
				</div>
				<div style="margin-top: 10px;">
					<h3 style="font-size: 20px;">MÔ TẢ :</h3>
					<div style="font-size: 15px;" [innerHTML]="this.productDetail?.pro_description"></div>
				</div>
			</div>
			<form (ngSubmit)="Submit()">
				<!-- Product Tabs -->
				<div class="prod-tabs-wrap">
					<ul class="prod-tabs">
						<li><a data-prodtab-num="2" class="active" id="prod-props"
								href="/product-detail/{{productDetail?.id}}" data-prodtab="#prod-tab-2">Chi Tiết</a>
						</li>
						<li><a data-prodtab-num="4" href="/product-detail/{{productDetail?.id}}"
								data-prodtab="#prod-tab-4">Articles (6)</a></li>
						<li><a *ngIf="this.checkRating" data-prodtab-num="5" data-prodtab="#prod-tab-5">Đánh Giá Sản
								Phẩm</a></li>
					</ul>
					<div class="prod-tab-cont">
						<p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">CHI TIẾT</p>
						<div [innerHTML]="productDetail?.pro_content" class="prod-tab prod-props" id="prod-tab-2">
						</div>
						<p data-prodtab-num="4" class="prod-tab-mob" data-prodtab="#prod-tab-4">Articles (6)</p>
						<div class="prod-tab prod-tab-articles" id="prod-tab-4">
							<div class="flexslider post-rel-wrap" id="post-rel-car">
								<ul class="slides">
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/354x236)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>09</span>
											Feb</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Articles</a>
											<h3 class="posts-i-ttl"><a href="post.html">Adipisci corporis velit</a></h3>
										</div>
									</li>
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/360x203)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>05</span>
											Jan</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Reviews</a>
											<h3 class="posts-i-ttl"><a href="post.html">Excepturi ducimus recusandae</a>
											</h3>
										</div>
									</li>
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/360x224)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>17</span>
											Apr</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Reviews</a>
											<h3 class="posts-i-ttl"><a href="post.html">Consequuntur minus numquam</a>
											</h3>
										</div>
									</li>
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/314x236)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>21</span>
											May</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Articles</a>
											<h3 class="posts-i-ttl"><a href="post.html">Non ex sapiente excepturi</a>
											</h3>
										</div>
									</li>
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/318x236)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>24</span>
											Jan</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Articles</a>
											<h3 class="posts-i-ttl"><a href="post.html">Veritatis officiis</a></h3>
										</div>
									</li>
									<li class="posts-i">
										<a class="posts-i-img" href="post.html"><span
												style="background: url(http://placehold.it/354x236)"></span></a>
										<time class="posts-i-date" datetime="2017-01-01 08:18"><span>08</span>
											Sep</time>
										<div class="posts-i-info">
											<a class="posts-i-ctg" href="blog.html">Reviews</a>
											<h3 class="posts-i-ttl"><a href="post.html">Ratione magni laudantium</a>
											</h3>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<p data-prodtab-num="5" class="prod-tab-mob" data-prodtab="#prod-tab-5">Đánh Giá</p>
						<div class="prod-tab prod-props" id="prod-tab-5">
							<div style="display: flex;justify-content: space-around;">
								<label class="container1">1 Sao
									<input (change)="RadioChecked(rd1)" #rd1 value="1" name="rating" type="radio"
										checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="container1">2 Sao
									<input (change)="RadioChecked(rd2)" #rd2 value="2" name="rating" type="radio">
									<span class="checkmark"></span>
								</label>

								<label class="container1">3 Sao
									<input (change)="RadioChecked(rd3)" #rd3 value="3" name="rating" type="radio">
									<span class="checkmark"></span>
								</label>

								<label class="container1">4 Sao
									<input (change)="RadioChecked(rd4)" #rd4 value="4" name="rating" type="radio">
									<span class="checkmark"></span>
								</label>
								<label class="container1">5 Sao
									<input (change)="RadioChecked(rd5)" #rd5 value="5" name="rating" type="radio">
									<span class="checkmark"></span>
								</label>
							</div>
							<input style="float: right;margin-right: 43px;
						margin-top: 29px;" class="btn btn-info" type="submit" value="Xác Nhận">
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- Single Product - end -->

		<!-- Related Products - start -->
		<div class="prod-related">
			<h2><span>Related products</span></h2>
			<div class="prod-related-car" id="prod-related-car">
				<ul class="slides">
					<li class="prod-rel-wrap">
						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x311" alt="Adipisci aperiam commodi">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Adipisci aperiam commodi</a></h3>
								<p class="prod-rel-price">
									<b>$59</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x366" alt="Nulla numquam obcaecati">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Nulla numquam obcaecati</a></h3>
								<p class="prod-rel-price">
									<b>$48</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/370x300" alt="Dignissimos eaque earum">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Dignissimos eaque earum</a></h3>
								<p class="prod-rel-price">
									<b>$37</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x345" alt="Porro quae quasi">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Porro quae quasi</a></h3>
								<p class="prod-rel-price">
									<b>$85</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>

					</li>
					<li class="prod-rel-wrap">
						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/378x300" alt="Sunt temporibus velit">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Sunt temporibus velit</a></h3>
								<p class="prod-rel-price">
									<b>$115</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x394" alt="Harum illum incidunt">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Harum illum incidunt</a></h3>
								<p class="prod-rel-price">
									<b>$130</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x303" alt="Reprehenderit rerum">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Reprehenderit rerum</a></h3>
								<p class="prod-rel-price">
									<b>$210</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x588" alt="Quae quasi adipisci alias">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Quae quasi adipisci alias</a></h3>
								<p class="prod-rel-price">
									<b>$85</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>

					</li>
					<li class="prod-rel-wrap">
						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x416" alt="Maxime molestias necessitatibus nobis">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Maxime molestias necessitatibus nobis</a></h3>
								<p class="prod-rel-price">
									<b>$95</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>



						<div class="prod-rel">
							<a href="product.html" class="prod-rel-img">
								<img src="http://placehold.it/300x480" alt="Facilis illum">
							</a>
							<div class="prod-rel-cont">
								<h3><a href="product.html">Facilis illum</a></h3>
								<p class="prod-rel-price">
									<b>$150</b>
								</p>
								<div class="prod-rel-actions">
									<a title="Wishlist" href="#" class="prod-rel-favorites"><i
											class="fa fa-heart"></i></a>
									<a title="Compare" href="#" class="prod-rel-compare"><i
											class="fa fa-bar-chart"></i></a>
									<p class="prod-i-addwrap">
										<a title="Add to cart" href="#" class="prod-i-add"><i
												class="fa fa-shopping-cart"></i></a>
									</p>
								</div>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>
		<!-- Related Products - end -->

	</section>
</main>
<!-- Main Content - end -->