.badge-success1 {
    color: black;
    background-color: #ffc107;
}

.badge-success2 {
    color: #fff;
    background-color: #17a2b8;
}

.badge-success3 {
    color: #fff;
    background-color: #28a745;
}

.badge-success4 {
    color: #fff;
    background-color: #eb0f1ad6;
}

.badge-success5 {
    color: #fff;
    background-color: #8408f8d6;
}

.badge {
    display: inline-block;
    padding: 8px 12px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

b{
  color: black;
}
