<div class="content-wrapper" style="margin-left: 250px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Đơn Hàng</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header" style="background-color: cadetblue;color: greenyellow;">
                <h3 class="card-title">Danh Sách Đơn Hàng</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form style="width: 33%;float: right;">
                  <div class="input-group">
                      <input style="height: 41px;"  type="text" class="form-control form-control-lg" name="search" [(ngModel)]="searchText" placeholder="Tìm Kiếm Sản Phẩm">
                      <div style="height: 41px;" class="input-group-append">
                          <button type="submit" class="btn btn-lg btn-default">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                </form>
                <select (change)="logValue($event)" style="width: 10%;" class="custom-select">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="40">40</option>
                </select>

                <select (change)="FilterByStatus($event)" style="width: 15%; margin-left: 10px;" class="custom-select">
                  <option selected value="10">Tất Cả</option>
                  <option value="0">Đang Gửi</option>
                  <option value="1">Đang Xử Lý</option>
                  <option value="2">Đang Giao Hàng</option>
                  <option value="3">Hoàn Thành</option>
                  <option value="4">Đã Bị Hủy</option>
                </select>
                <button (click)="deleteAllTransaction()" *ngIf="this.TransactionListDel.length>0" type="button" class="btn btn-info"><i class="fa fa-trash" style="padding-right: 5px;"  aria-hidden="true"></i>Xóa</button>
                <table id="customers">
                  <tr>
                    <th style="text-align: center;"> Tất Cả </th>
                    <th style="text-align: center;">Mã Đơn Hàng</th>
                    <th style="text-align: center;">Tên Người Đặt</th>
                    <th style="text-align: center;">Tổng Tiền</th>
                    <th style="text-align: center;">Trạng Thái</th>
                    <th style="text-align: center;">Ngày Đặt</th>
                    <th style="text-align: center;">Ngày Cập Nhật</th>
                    <th style="text-align: center;">Hành Động</th>
                  </tr>
                  <tbody>
                  <tr (click)="this.checkedBox(cb)" *ngFor="let item of this.TransactionList | filter:searchText | paginate :{id:'pag1', itemsPerPage: maxPageItems,
                  currentPage: page,
                  totalItems: TransactionList?.length}">
                    <td><input value="{{this.item | json}}" #cb type="checkbox"></td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.tr_total | currency : "VND"}}</td>
                    <td>
                        <span *ngIf="item.tr_status == 0" class="badge badge-warning">Đang Gửi</span>
                        <span *ngIf="item.tr_status == 1" class="badge badge-info">Đang Xử Lý</span>
                        <span *ngIf="item.tr_status == 2" style="background-color: #8408f8d6;" class="badge badge-info">Đang Giao Hàng</span>
                        <span *ngIf="item.tr_status == 3" class="badge badge-success">Hoàn Thành</span>
                        <span *ngIf="item.tr_status == 4" class="badge badge-danger">Đã Bị Hủy</span>
                    </td>
                    <td>{{item.created_at | date : 'dd-MM-yyyy'}}</td>
                    <td>{{item.updated_at | date : 'dd-MM-yyyy - h:mm'}}</td>
                    <td>
                      <b style="font-size: 16px;">
                        <a [routerLink]="['/admin/order-manager-detail/',item.id]" style="padding: 8px;color: white;margin-right: 10px;background-color: rgb(17, 138, 219)"><i class="far fa-eye"></i></a>
                        <a [routerLink]="['/admin/order-manager-edit/',item.id]" style="padding: 8px;color: white;background-color: rgb(15, 199, 86);margin-right: 10px;"><i class="fas fa-edit"></i></a>
                        <a (click)="deleteOrder(item)"  style="padding: 8px;color: white;background-color: red;"><i class="fas fa-trash"></i></a>
                      </b>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <pagination-controls id="pag1" directionLinks="true" (pageChange)="pageChanged($event)" maxSize="1000"></pagination-controls>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>