<!-- Main Content - start -->
<main>
  <section class="container">


      <ul class="b-crumbs">
          <li>
              <a [routerLink]= "['/']">
                  Trang Chủ
              </a>
          </li>
          <li>
              <span>{{this.CategoryDetail?.c_name}}</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>{{this.CategoryDetail?.c_name}}</span></h1>
      <!-- Catalog Sidebar - start -->
      <div class="section-sb">

          <!-- Catalog Categories - start -->
          <div class="section-sb-current">
              <h3><a href="catalog-list.html">Danh Mục Liên Quan <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
              <ul class="section-sb-list" id="section-sb-list">
                  <li *ngFor="let item of this.CateGoryList"  class="categ-1">
                      <a [routerLink]="['/category/',item.id]">
                          <span class="categ-1-label">{{item.c_name}}</span>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- Catalog Categories - end -->

          <!-- Filter - start -->
          <div class="section-filter">
              <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                  <span>Show Filter</span> <i class="fa fa-angle-down"></i>
              </button>
              <div class="section-filter-cont">
                  <div class="section-filter-price" style="TEXT-ALIGN: CENTER;
                  FONT-SIZE: 20PX;">
                    BỘ LỌC SẢN PHẨM
                  </div>

                  <div class="section-filter-item">
                    <a href="/category/{{CategoryDetail?.id}}">
                    <p class="section-filter-ttl"> Tìm Kiếm Theo Ngày <i class="fa fa-angle-down"></i></p>
                    </a>
                    <div class="section-filter-fields">
                      <p class="section-filter-field">
                        <input (change)="SortByTimeNew($event)" id="section-filter-radio1-1" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-1">Ngày Mới Nhất</label>
                      </p>
                      <p class="section-filter-field">
                        <input (change)="SortByTimeLess($event)" id="section-filter-radio1-2" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-2">Ngày Cũ Nhất</label>
                      </p>
                    </div>
                  </div>



                  <div class="section-filter-item">
                    <a href="/category/{{CategoryDetail?.id}}">
                    <p class="section-filter-ttl"> Lựa Chọn Theo Giá <i class="fa fa-angle-down"></i></p>
                    </a>
                    <div class="section-filter-fields">
                      <p class="section-filter-field">
                        <input id="section-filter-radio1-3" (change)="Locgia(0,500000)" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-3">0 - 500k</label>
                      </p>
                      <p class="section-filter-field">
                        <input id="section-filter-radio1-4" (change)="Locgia(500000,1000000)" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-4">500k - 1 Triệu</label>
                      </p>
                      <p class="section-filter-field">
                        <input id="section-filter-radio1-5" (change)="Locgia(1000000,3000000)" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-5">1 Triệu - 3 Triệu</label>
                      </p>
                      <p class="section-filter-field">
                        <input id="section-filter-radio1-6" (change)="Locgia(3000000,10000000)" value="on" type="radio" name="section-filter-radio1">
                        <label class="section-filter-radio" for="section-filter-radio1-6">Trên 3 Triệu</label>
                      </p>
                    </div>
                  </div>



                  <div class="section-filter-buttons">
                      <input class="btn btn-themes" id="set_filter" (click)="ResetLuaChon()" name="set_filter" value="Reset Lựa Chọn" type="button">
                  </div>
              </div>
          </div>
          <!-- Filter - end -->

      </div>
      <!-- Catalog Sidebar - end -->
      <!-- Catalog Items | List V2 - start -->
      <div class="section-cont">

          <!-- Catalog Topbar - start -->
          <div class="section-top">

              <!-- View Mode -->
              <ul class="section-mode">
                  <li class="section-mode-list active"><a title="View mode: List" href="catalog-list.html"></a></li>
                  <li style="font-size: large;">DANH SÁCH SẢN PHẨM</li>
              </ul>

              <!-- Sorting -->
              <select (change)="priceSelected($event)" style="padding: 4px;" class="section-sortby">
                  <option value="0">Giá</option>
                  <option value="1">Giá Từ Thấp Đến Cao</option>
                  <option value="2" >Giá Từ Cao Đến Thấp</option>
              </select>

              <!-- Count per page -->
              <select (change) = "logValue($event)" class="section-count" style="padding: 4px;">
                <option selected value="2">2</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>

          </div>
          <!-- Catalog Topbar - end -->
          <div class="prod-items section-items prod-list2">
              <div *ngFor="let item of ProductList | paginate :{id:'pag1', itemsPerPage: maxPageItems,
                currentPage: page,
                totalItems: ProductList?.length} "  class="prodlist-i">
                  <a class="list-img-carousel prodlist-i-img"><!-- NO SPACE --><img  src="../assets/image/{{item.pro_avatar}}" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>
                  <div class="prodlist-i-cont">
                      <h3><a [routerLink]="['/product-detail/',item.id]">{{item.pr_name}}</a>
                      </h3>
                      <p class="prodlist-i-info">
                          <a href="#" class="prodlist-i-favorites"><i class="fa fa-heart"></i> Add to wishlist</a>
                      </p>
                      <div class="prodlist-i-txt">
                          {{item.pro_description}}
                      </div>
                      <div class="prodlist-i-action">
                      <span class="prodlist-i-price">
                          <b style="color: #ee4d2d;">{{item.pro_pay |currency: "VND" }}</b>
                          <del *ngIf="item.pro_sale>0">{{item.pro_price|currency: "VND"}}</del>
                                                  </span>
                          <p class="prodlist-i-qnt">
                              <input #input  value="1" type="text">
                              <a class="prodlist-i-plus"><i (click)="XuLyInputUp(input)" class="fa fa-angle-up"></i></a>
                              <a class="prodlist-i-minus"><i (click)="XuLyInputDown(input)" class="fa fa-angle-down"></i></a>
                          </p>
                          <p style="font-weight: bold;color: cadetblue">
                            Số Lượng Còn : {{item.pro_number}}
                          </p>
                          <p class="prodlist-i-addwrap">
                              <a style="cursor:pointer;" (click)="addToCard(item,input.value)" class="prodlist-i-add">Thêm Vào Giỏ</a>
                          </p>
                      </div>
                  </div>
              </div>
              <pagination-controls id="pag1" directionLinks="true" (pageChange)="pageChanged($event)" maxSize="1000"></pagination-controls>
          </div>


      </div>
      <!-- Catalog Items | List V2 - end -->
  </section>
</main>
<!-- Main Content - end -->
