<!-- Main Content - start -->
<main>
  <section class="container">


      <ul class="b-crumbs">
          <li>
              <a href="index.html">
                  Home
              </a>
          </li>
          <li>
              <a href="catalog-list.html">
                  Category
              </a>
          </li>
          <li>
              <span>{{this.CategoryDetail?.c_name}}</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>{{this.CategoryDetail?.c_name}}</span></h1>
      <!-- Catalog Sidebar - start -->
      <div class="section-sb">

          <!-- Catalog Categories - start -->
          <div class="section-sb-current">
              <h3><a href="catalog-list.html">Danh Mục Liên Quan <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
              <ul class="section-sb-list" id="section-sb-list">
                  <li *ngFor="let item of this.CateGoryList"  class="categ-1">
                      <a href="catalog-list.html">
                          <span class="categ-1-label">{{item.c_name}}</span>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- Catalog Categories - end -->

          <!-- Filter - start -->
          <div class="section-filter">
              <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                  <span>Show Filter</span> <i class="fa fa-angle-down"></i>
              </button>
              <div class="section-filter-cont">
                  <div class="section-filter-price" style="TEXT-ALIGN: CENTER;
                  FONT-SIZE: 20PX;">
                    BỘ LỌC SẢN PHẨM
                  </div>
                  <div class="section-filter-item">
                      <p class="section-filter-ttl" style="font-size: 15px;">Sắp Xếp Theo Ngày <i class="fa fa-angle-down"></i></p>
                      <div class="section-filter-fields" style="font-size: 13px;">
                        <div style="margin-bottom: 9px;">
                          <input type="radio" id="huey" name="drone" value="" checked>
                          <label for="huey">Ngày Mới Nhất</label>
                        </div>

                        <div>
                          <input type="radio" id="dewey" name="drone" value="">
                          <label for="dewey">Ngày Cũ Nhất</label>
                        </div>
                      </div>
                  </div>
                  <div class="section-filter-buttons">
                      <input class="btn btn-themes" id="set_filter" name="set_filter" value="Apply filter" type="button">
                      <input class="btn btn-link" id="del_filter" name="del_filter" value="Reset" type="button">
                  </div>
              </div>
          </div>
          <!-- Filter - end -->

      </div>
      <!-- Catalog Sidebar - end -->
      <!-- Catalog Items | List V2 - start -->
      <div class="section-cont">

          <!-- Catalog Topbar - start -->
          <div class="section-top">

              <!-- View Mode -->
              <ul class="section-mode">
                  <li class="section-mode-list active"><a title="View mode: List" href="catalog-list.html"></a></li>
                  <li style="font-size: large;">DANH SÁCH SẢN PHẨM</li>
              </ul>

              <!-- Sorting -->
              <select (change)="priceSelected($event)" style="padding: 4px;" class="section-sortby">
                  <option value="0">Giá</option>
                  <option value="1">Giá Từ Thấp Đến Cao</option>
                  <option value="2" >Giá Từ Cao Đến Thấp</option>
              </select>

              <!-- Count per page -->
              <select (change) = "logValue($event)" class="section-count" style="padding: 4px;">
                <option selected value="2">2</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>

          </div>
          <!-- Catalog Topbar - end -->
          <div class="prod-items section-items prod-list2">
              <div *ngFor="let item of ProductList | paginate :{id:'pag1', itemsPerPage: maxPageItems,
                currentPage: page,
                totalItems: ProductList?.length}"  class="prodlist-i">
                  <a class="list-img-carousel prodlist-i-img" href="product.html"><!-- NO SPACE --><img  src="../assets/image/{{item.pro_avatar}}" alt="Adipisci aperiam commodi"><!-- NO SPACE --></a>
                  <div class="prodlist-i-cont">
                      <h3><a href="product.html">{{item.pr_name}}</a>
                      </h3>
                      <p class="prodlist-i-info">
                          <a href="#" class="prodlist-i-favorites"><i class="fa fa-heart"></i> Add to wishlist</a>
                          <a href="#" (click)="ProducDetail(item)" class="qview-btn prodlist-i-qview"><i class="fa fa-search"></i> Quick view</a>
                          <a class="prodlist-i-compare" href="#"><i class="fa fa-bar-chart"></i> Compare</a>
                      </p>
                      <div class="prodlist-i-txt">
                          {{item.pro_description}}
                      </div>
                      <div class="prodlist-i-action">
                      <span class="prodlist-i-price">
                          <b>{{item.pro_pay |currency: "VND" }}</b>
                          <del *ngIf="item.pro_sale>0">{{item.pro_price|currency: "VND"}}</del>
                                                  </span>
                          <p class="prodlist-i-qnt">
                              <input value="1" type="text">
                              <a href="#" class="prodlist-i-plus"><i class="fa fa-angle-up"></i></a>
                              <a href="#" class="prodlist-i-minus"><i class="fa fa-angle-down"></i></a>
                          </p>
                          <p>
                            Số Lượng Còn : {{item.pro_number}}
                          </p>
                          <p class="prodlist-i-addwrap">
                              <a href="#" class="prodlist-i-add">Add to cart</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>

          <pagination-controls id="pag1" directionLinks="true" (pageChange)="pageChanged($event)" maxSize="1000"></pagination-controls>
      </div>
      <!-- Catalog Items | List V2 - end -->

      <!-- Quick View Product - start -->
      <div class="qview-modal">
          <div class="prod-wrap">
              <a href="product.html">
                  <h1 class="main-ttl">
                      <span>Reprehenderit adipiscisaddd 555</span>
                  </h1>
              </a>
              <div class="prod-slider-wrap">
                  <div class="prod-slider">
                      <ul class="prod-slider-car">
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                  <img src="http://placehold.it/500x525" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x591">
                                  <img src="http://placehold.it/500x591" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                  <img src="http://placehold.it/500x525" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="prod-thumbs">
                      <ul class="prod-thumbs-car">
                          <li>
                              <a data-slide-index="0" href="#">
                                  <img src="http://placehold.it/500x525" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="1" href="#">
                                  <img src="http://placehold.it/500x591" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="2" href="#">
                                  <img src="http://placehold.it/500x525" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="3" href="#">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="4" href="#">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="5" href="#">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                          <li>
                              <a data-slide-index="6" href="#">
                                  <img src="http://placehold.it/500x722" alt="">
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="prod-cont">
                  <p class="prod-actions">
                      <a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Add to Wishlist</a>
                      <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> Compare</a>
                  </p>
                  <div class="prod-skuwrap">
                      <p class="prod-skuttl">Color</p>
                      <ul class="prod-skucolor">
                          <li class="active">
                              <img src="../assets/TemplateProduct/img/color/blue.jpg" alt="">
                          </li>
                          <li>
                              <img src="../assets/TemplateProduct/img/color/red.jpg" alt="">
                          </li>
                          <li>
                              <img src="../assets/TemplateProduct/img/color/green.jpg" alt="">
                          </li>
                          <li>
                              <img src="../assets/TemplateProduct/img/color/yellow.jpg" alt="">
                          </li>
                          <li>
                              <img src="../assets/TemplateProduct/img/color/purple.jpg" alt="">
                          </li>
                      </ul>
                      <p class="prod-skuttl">Sizes</p>
                      <div class="offer-props-select">
                          <p>XL</p>
                          <ul>
                              <li><a href="#">XS</a></li>
                              <li><a href="#">S</a></li>
                              <li><a href="#">M</a></li>
                              <li class="active"><a href="#">XL</a></li>
                              <li><a href="#">L</a></li>
                              <li><a href="#">4XL</a></li>
                              <li><a href="#">XXL</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="prod-info">
                      <p class="prod-price">
                          <b class="item_current_price">$238</b>
                      </p>
                      <p class="prod-qnt">
                          <input type="text" value="1">
                          <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                          <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                      </p>
                      <p class="prod-addwrap">
                          <a href="#" class="prod-add">Add to cart</a>
                      </p>
                  </div>
                  <ul class="prod-i-props">
                      <li>
                          <b>SKU</b> 05464207
                      </li>
                      <li>
                          <b>Manufacturer</b> Mayoral
                      </li>
                      <li>
                          <b>Material</b> Cotton
                      </li>
                      <li>
                          <b>Pattern Type</b> Print
                      </li>
                      <li>
                          <b>Wash</b> Colored
                      </li>
                      <li>
                          <b>Style</b> Cute
                      </li>
                      <li>
                          <b>Color</b> Blue, Red
                      </li>
                      <li><a href="#" class="prod-showprops">All Features</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Quick View Product - end -->
  </section>
</main>
<!-- Main Content - end -->
