<main>
	<section class="container">


		<ul class="b-crumbs">
			<li>
				<a href="index.html">
					Trang Chủ
				</a>
			</li>
			<li>
				<span>Tất Cả Sản Phẩm</span>
			</li>
		</ul>
		<h1 class="main-ttl"><span>Tất Cả Sản Phẩm</span></h1>
		<!-- Catalog Sidebar - start -->
		<div class="section-sb">

          <!-- Catalog Categories - start -->
        <div class="section-sb-current">
            <h3><a href="catalog-list.html">Sản Phẩm<span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
            <ul class="section-sb-list" id="section-sb-list">
              <li>
                <a>
                  <span class="categ-1-label">Sản Phẩm Bán Chạy</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="categ-1-label">Sản Phẩm HOT</span>
                </a>
              </li>
            </ul>
        </div>
        <!-- Catalog Categories - end -->

          <!-- Filter - start -->
        <div class="section-filter">
            <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                <span>Show Filter</span> <i class="fa fa-angle-down"></i>
            </button>
            <div class="section-filter-cont">
                <div class="section-filter-price" style="TEXT-ALIGN: CENTER;
                FONT-SIZE: 20PX;">
                  BỘ LỌC SẢN PHẨM
                </div>

                <div class="section-filter-item">
                  <a>
                  <p class="section-filter-ttl"> Tìm Kiếm Theo Ngày <i class="fa fa-angle-down"></i></p>
                  </a>
                  <div class="section-filter-fields">
                    <p class="section-filter-field">
                      <input  id="section-filter-radio1-1" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-1">Ngày Mới Nhất</label>
                    </p>
                    <p class="section-filter-field">
                      <input  id="section-filter-radio1-2" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-2">Ngày Cũ Nhất</label>
                    </p>
                  </div>
                </div>



                <div class="section-filter-item">
                  <a>
                  <p class="section-filter-ttl"> Lựa Chọn Theo Giá <i class="fa fa-angle-down"></i></p>
                  </a>
                  <div class="section-filter-fields">
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-3" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-3">0 - 500k</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-4"  value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-4">500k - 1 Triệu</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-5"  value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-5">1 Triệu - 3 Triệu</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-6"  value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-6">Trên 3 Triệu</label>
                    </p>
                  </div>
                </div>



                <div class="section-filter-buttons">
                    <input class="btn btn-themes" id="set_filter" name="set_filter" value="Reset Lựa Chọn" type="button">
                </div>
            </div>
        </div>
        <!-- Filter - end -->

		</div>
		<!-- Catalog Sidebar - end -->
		<!-- Catalog Items | Gallery V1 - start -->
		<div class="section-cont">

			<!-- Catalog Topbar - start -->
			<div class="section-top">

				<!-- View Mode -->
				<ul class="section-mode">
					<li class="section-mode-gallery active"><a title="View mode: Gallery"></a></li>
          <b style="font-size: 22px;">TẤT CẢ SẢN PHẨM</b>
				</ul>

				<!-- Sorting -->
        <select style="padding: 4px;" class="section-sortby">
          <option value="0">Giá</option>
          <option value="1">Giá Từ Thấp Đến Cao</option>
          <option value="2" >Giá Từ Cao Đến Thấp</option>
        </select>

				<!-- Count per page -->
				<select  class="section-count" style="padding: 4px;">
          <option selected value="2">2</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
			</div>
			<!-- Catalog Topbar - end -->
			<div class="prod-items section-items">
				<div class="prod-i">
					<div class="prod-i-top">
						<a href="product.html" class="prod-i-img"><!-- NO SPACE --><img src="http://placehold.it/300x345" alt="Porro quae quasi"><!-- NO SPACE --></a>
						<a href="#" class="prod-i-buy">Thêm Vào Giỏ</a>
					</div>
					<h3>
						<a href="product.html">Porro quae quasi</a>
					</h3>
					<p class="prod-i-price">
						<b>$85</b>
						<del>$110</del>
					</p>
				</div>
			</div>

			<!-- Pagination - start -->
			<!-- Pagination - end -->
		</div>
		<!-- Catalog Items | Gallery V1 - end -->

	</section>
</main>
