<main>
	<section class="container">


		<ul class="b-crumbs">
			<li>
				<a [routerLink]="['/']">
					Trang Chủ
				</a>
			</li>
			<li>
				<span>Tất Cả Sản Phẩm</span>
			</li>
		</ul>
		<h1 class="main-ttl"><span>Tất Cả Sản Phẩm</span></h1>
		<!-- Catalog Sidebar - start -->
		<div class="section-sb">

          <!-- Catalog Categories - start -->
        <div class="section-sb-current">
            <h3><a href="catalog-list.html">Sản Phẩm<span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
            <ul class="section-sb-list" id="section-sb-list">
              <li>
                <a>
                  <span class="categ-1-label">Sản Phẩm Bán Chạy</span>
                </a>
              </li>
              <li>
                <a>
                  <span class="categ-1-label">Sản Phẩm HOT</span>
                </a>
              </li>
            </ul>
        </div>
        <!-- Catalog Categories - end -->

          <!-- Filter - start -->
        <div class="section-filter">
            <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                <span>Show Filter</span> <i class="fa fa-angle-down"></i>
            </button>
            <div class="section-filter-cont">
                <div class="section-filter-price" style="TEXT-ALIGN: CENTER;
                FONT-SIZE: 20PX;">
                  BỘ LỌC SẢN PHẨM
                </div>

                <div class="section-filter-item">
                  <a>
                  <p class="section-filter-ttl"> Tìm Kiếm Theo Ngày <i class="fa fa-angle-down"></i></p>
                  </a>
                  <div class="section-filter-fields">
                    <p class="section-filter-field">
                      <input (change)="SortByTimeNew($event)"  id="section-filter-radio1-1" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-1">Ngày Mới Nhất</label>
                    </p>
                    <p class="section-filter-field">
                      <input (change)="SortByTimeLess($event)"  id="section-filter-radio1-2" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-2">Ngày Cũ Nhất</label>
                    </p>
                  </div>
                </div>



                <div class="section-filter-item">
                  <a>
                  <p class="section-filter-ttl"> Lựa Chọn Theo Giá <i class="fa fa-angle-down"></i></p>
                  </a>
                  <div class="section-filter-fields">
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-3" (change)="Locgia(0,500000)" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-3">0 - 500k</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-4" (change)="Locgia(500000,1000000)"  value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-4">500k - 1 Triệu</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-5" (change)="Locgia(1000000,3000000)" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-5">1 Triệu - 3 Triệu</label>
                    </p>
                    <p class="section-filter-field">
                      <input id="section-filter-radio1-6" (change)="Locgia(3000000,10000000)" value="on" type="radio" name="section-filter-radio1">
                      <label class="section-filter-radio" for="section-filter-radio1-6">Trên 3 Triệu</label>
                    </p>
                  </div>
                </div>
                <div class="section-filter-buttons">
                    <input class="btn btn-themes" (click)="ResetLuaChon()" id="set_filter" name="set_filter" value="Reset Lựa Chọn" type="button">
                </div>
            </div>
        </div>
        <!-- Filter - end -->

		</div>
		<!-- Catalog Sidebar - end -->
		<!-- Catalog Items | Gallery V1 - start -->
		<div class="section-cont">

			<!-- Catalog Topbar - start -->
			<div class="section-top">

				<!-- View Mode -->
				<ul class="section-mode">
					<li class="section-mode-gallery active"><a title="View mode: Gallery"></a></li>
          <b style="font-size: 22px;">TẤT CẢ SẢN PHẨM</b>
				</ul>

				<!-- Sorting -->
        <select (change)="priceSelected($event)" style="padding: 4px;" class="section-sortby">
          <option value="0">Giá</option>
          <option value="1">Giá Từ Thấp Đến Cao</option>
          <option value="2" >Giá Từ Cao Đến Thấp</option>
        </select>

				<!-- Count per page -->
				<select  (change) = "logValue($event)" class="section-count" style="padding: 4px;">
          <option selected value="9">9</option>
          <option value="18">18</option>
          <option value="27">27</option>
          <option value="36">36</option>
        </select>
			</div>
			<!-- Catalog Topbar - end -->
			<div class="prod-items section-items">
				<div *ngFor="let item of this.ProductList| paginate :{id:'pag1', itemsPerPage: maxPageItems,
                currentPage: page,
                totalItems: ProductList?.length} " class="prod-i" style="width: 238px;">
					<div class="prod-i-top">
						<a [routerLink]="['/product-detail',item.id]" class="prod-i-img"><!-- NO SPACE --><img src="../assets/image/{{this.item.pro_avatar}}"><!-- NO SPACE --></a>
            <h3>
						  <a [routerLink]="['/product-detail',item.id]">{{this.item.pr_name}}</a>
					  </h3>
					  <p class="prod-i-price">
              <del style="margin-right: 9px;" *ngIf="this.item.pro_sale > 0">{{this.item.pro_price | currency : 'VND'}}</del>
						  <b>{{this.item.pro_pay| currency : 'VND'}}</b>
						  
					  </p>
					</div>
				</div>
			</div>

			<!-- Pagination - start -->
      <pagination-controls id="pag1" directionLinks="true" (pageChange)="pageChanged($event)" maxSize="1000"></pagination-controls>
			<!-- Pagination - end -->
		</div>
		<!-- Catalog Items | Gallery V1 - end -->

	</section>
</main>
