<!-- Main Content - start -->
<main>
  <section class="container stylization maincont">


    <ul class="b-crumbs">
      <li>
        <a [routerLink]="['/']">
          Trang Chủ
        </a>
      </li>
      <li>
        <span>Thanh Toán</span>
      </li>
    </ul>
    <h1 class="main-ttl"><span>Thanh Toán</span></h1>
    <ng-container *ngIf="this.transaction">
    <div style="text-align: center;border: 1px solid black; ">
      <div _ngcontent-pag-c69="" style="text-align: left; padding: 10px 0; background-color: #28a745;"><b
          _ngcontent-pag-c69=""
          class="test" style="color: #fdfdfd; font-size: 22px; padding-left: 20px;">Thông Tin Khi Chuyển Khoảng</b></div>
      <h4 style="color: #1940cf;">Tổng Số Tiền Cần Thanh Toán : <b
          style="color: red;">{{this.transaction.tr_total | currency :"VND"}}</b></h4>
      <h4 style="color: #1940cf;">Lưu Ý Khi Thanh Toán Phải Kèm Theo Nội Dung : <b
          style="color: red;">{{this.transaction.id}}
          {{this.transaction.name}}</b></h4>
    </div>
    </ng-container>
    <!-- Cart Items - start -->
    <div class="card" style="border: 1px solid black;">
      <div style="padding: 10px 0;background-color: #4a8fc5;"><b class="test"
          style="color:#fdfdfd;font-size: 22px; padding-left: 20px;">Danh Sách Thẻ Ngân Hàng</b></div>
      <form action="#">

        <div class="cart-items-wrap">
          <table class="cart-items">
            <thead>
              <tr>
                <td class="cart-image" style="font-size: 17px;font-weight: bold;margin: 0;text-align: center;">STT</td>
                <td class="cart-ttl" style="font-size: 17px;font-weight: bold;width: 182px;text-align: center;">Ảnh</td>
                <td class="cart-summ" style="font-size: 17px;font-weight: bold;text-align: center;">Tên Ngân Hàng</td>
                <td class="cart-price" style="font-size: 17px;font-weight: bold;text-align: center;">Tên Chủ Thẻ</td>
                <td class="cart-quantity" style="font-size: 17px;font-weight: bold;text-align: center;">Số Thẻ</td>
                <td class="cart-quantity" style="font-size: 17px;font-weight: bold;text-align: center;">Số Tài Khoảng</td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="this.paymentInfo?.length > 0">
                <tr *ngFor="let item of this.paymentInfo;let idx = index">
                  <td style="text-align: center;" class="cart-image">
                    <b style="font-size: 16px;">{{idx + 1}}</b>
                  </td>
                  <td style="text-align: center;" class="cart-image">
                    <img src="../assets/image/{{this.item.image}}" style="width: 167px; height: 100px;" alt="">
                  </td>
                  <td style="text-align: center;" class="cart-ttl">
                    <b style="font-size: 16px;">{{item.bank_name}}</b>
                  </td>
                  <td style="text-align: center;" class="cart-ttl">
                    <b style="font-size: 16px;">{{item.account_name}}</b>
                  </td>
                  <td style="text-align: center;" class="cart-ttl">
                    <b style="font-size: 16px;">{{item.account_seri}}</b>
                  </td>
                  <td style="text-align: center;" class="cart-ttl">
                    <b style="font-size: 16px;">{{item.account_number}}</b>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </form>
      <!-- Cart Items - end -->
    </div>
  </section>
</main>
<!-- Main Content - end -->

