/* You can add global styles to this file, and also import other style files */
a{
  cursor: pointer;
}

ul.ngx-pagination {
    margin-top: 34px;
}

div#example1_filter {
  float: right;
  padding-bottom: 19px;
}

div#example1_length {
  margin-top: 22px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.prodlist-i:hover{
  border: 1px solid red;
}
