<!-- Main Content - start -->
<main>
  <section class="container stylization maincont">


      <ul class="b-crumbs">
          <li>
              <a [routerLink]="['/']">
                  Home
              </a>
          </li>
          <li>
              <span>TRANSACTION</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>TRANSACTION</span></h1>
      <form (ngSubmit)="Submit()" [formGroup] = "transactionForm">
      <div class="auth-wrap">
          <div class="auth-col">
              <h2 style="color: #0c7dde;">THÔNG TIN NHẬN HÀNG</h2>
              <div method="post" class="login" style="margin-top: 21px;">
                  <p>
                      <label for="username" style="font-weight: bold;color: black;">Tên Người Đặt Hàng <span class="required">*</span></label><input formControlName="name" type="text" id="username">
                      <span style="margin-left: 103px;color: red;" *ngIf="this.error?.name">{{this.error.name}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;"> Số Điện Thoại <span class="required">*</span></label><input formControlName="tr_phone" type="text" id="username">
                    <span style="margin-left: 103px;color: red;" *ngIf="this.error?.tr_phone">{{this.error.tr_phone}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;"> Địa Chỉ <span class="required">*</span></label><input formControlName="tr_address" type="text" id="username">
                    <span style="margin-left: 103px;color: red;" *ngIf="this.error?.tr_address">{{this.error.tr_address}}</span>
                  </p>
                  <p style="display: flex;">
                    <label for="username" style="font-weight: bold;color: black;">Note <span class="required">*</span></label><textarea formControlName="tr_note" style="margin-left: 17px;" id="username"></textarea>
                  </p>

                </div>
          </div>
          <div class="auth-col">
              <h2 style="margin : 0;color: #40c74a;text-transform: uppercase;">Danh Sách SẢN PHẨM</h2>
              <div>
                <div class="cart-items-wrap">
                    <table class="cart-items">
                        <thead>
                        <tr>
                            <td class="cart-image"><b>Photo</b></td>
                            <td class="cart-ttl" style="width: 200px;"><b>TÊN Sản Phẩm</b></td>
                            <td class="cart-quantity" style="width: 76px;"><b>Số Lượng</b></td>
                            <td class="cart-summ" style="width: 70px;"><b>Tổng</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngIf="this.card">
                        <tr *ngFor="let item of this.card">
                            <td class="cart-image">
                                <a>
                                    <img style="margin: 0" src="../assets/image/{{item.c_product_id.pro_avatar}}" alt="Similique delectus totam">
                                </a>
                            </td>
                            <td class="cart-ttl">
                                <b>{{this.item.c_product_id.pr_name}}</b>
                            </td>
                            <td class="cart-quantity">
                                <p class="cart-qnt">
                                    <input style="color: blue;" readonly value="{{this.item.c_qty}}" type="text">
                                </p>
                            </td>
                            <td class="cart-summ">
                                <b>{{this.item.c_qty*this.item.c_product_id.pro_pay | currency : "VND"}}</b>
                                <p class="cart-forone">unit price <b>{{this.item.c_qty*this.item.c_product_id.pro_pay | currency : "VND"}}</b></p>
                            </td>
                        </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
                <ul class="cart-total">
                    <li style="margin-right: 4px;" class="cart-summ">Tổng Tiền : <b>{{this.SumCard() | currency : "VND"}}</b></li>
                </ul>
                <div class="cart-submit">
                    <input type="submit" value="Xác Nhận" style="cursor: pointer;" class="cart-submit-btn">
                </div>
              </div>
          </div>
      </div>
      </form>
  </section>
</main>
<!-- Main Content - end -->
