<!-- Main Content - start -->
<main>
  <section class="container stylization maincont">


      <ul class="b-crumbs">
          <li>
              <a [routerLink]="['/']">
                  Trang Chủ
              </a>
          </li>
          <li>
              <span>Thông Tin Giao Dịch</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>Thông Tin Giao Dịch</span></h1>
      <form (ngSubmit)="Submit()" [formGroup] = "transactionForm">
      <div class="auth-wrap" style="color: black;">
          <div class="auth-col">
            <div class="card">
              <div style="padding: 10px 0;background-color: #0c0c0cc7;"><b class="test" style="color:#fafafa;padding-left: 23px;">THÔNG TIN NHẬN HÀNG</b></div>
              <div method="post" class="login" style="margin-top: 21px;">
                  <p>
                      <label for="username" style="font-weight: bold;color: black;padding-left: 5px;">Tên Người Đặt Hàng <span class="required">*</span></label><input formControlName="name" type="text" id="username">
                      <span style="margin-left: 103px;color: red;" *ngIf="this.error?.name">{{this.error.name}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;padding-left: 5px;"> Số Điện Thoại <span class="required">*</span></label><input formControlName="tr_phone" type="text" id="username">
                    <span style="margin-left: 103px;color: red;" *ngIf="this.error?.tr_phone">{{this.error.tr_phone}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;padding-left: 5px;"> Địa Chỉ <span class="required">*</span></label><input formControlName="tr_address" type="text" id="username">
                    <span style="margin-left: 103px;color: red;" *ngIf="this.error?.tr_address">{{this.error.tr_address}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;padding-left: 5px;"> Vận Chuyển <span
                        class="required">*</span></label>
                        <select style="width: 80%;height: 30px;" formControlName="tr_transport_id">
                            <option selected disabled [ngValue]="null">Chọn Phương Thức Vận Chuyển</option>
                            <ng-container *ngFor="let item of  this.transport">
                                <option [ngValue]="item">{{this.item.name}} - Thời Gian : {{this.item.time}} - Phí : {{this.item.fee | currency:"VND"}}</option>
                            </ng-container>
                        </select>
                    <span style="margin-left: 103px;color: red;"
                      *ngIf="this.error?.tr_transport_id">{{this.error.tr_transport_id}}</span>
                  </p>
                  <p>
                    <label for="username" style="font-weight: bold;color: black;padding-left: 5px;"> Thanh Toán <span
                        class="required">*</span></label>
                    <select style="width: 80%;height: 30px;" formControlName="payment">
                      <option selected disabled [ngValue]="null">Chọn Phương Thức Thanh Toán</option>
                      <option [ngValue]="0">Thanh Toán Sau Khi Nhận Hàng</option>
                      <option [ngValue]="1">Thanh Toán Bằng Chuyển Thẻ Ngân Hàng</option>
                    </select>
                    <span style="margin-left: 103px;color: red;"
                      *ngIf="this.error?.payment">{{this.error.payment}}</span>
                  </p>
                  <p style="display: flex;margin-bottom: 0;">
                    <label for="username" style="font-weight: bold;color: black;padding-left: 5px;">Ghi Chú <span class="required">*</span></label><textarea _ngcontent-ged-c58="" rows="5" cols="50" formcontrolname="tr_note" id="username" style="margin: 0px 0px 0px 16.9886px; width: 498px; height: 110px;" ng-reflect-name="tr_note" class="ng-pristine ng-valid ng-touched"></textarea>
                  </p>

                </div>
            </div>
          </div>
          <div class="auth-col">
            <div class="card">
              <div style="padding: 10px 0;background-color: #4a8fc5;"><b class="test" style="color:#fafafa;padding-left: 23px;text-transform: uppercase;">Danh Sách Sản Phẩm</b></div>
              <div>
                <div class="cart-items-wrap">
                    <table class="cart-items">
                        <thead>
                        <tr>
                            <td class="cart-image" style="text-align: center;"><b>Ảnh</b></td>
                            <td class="cart-ttl" style="width: 200px;"><b>TÊN Sản Phẩm</b></td>
                            <td class="cart-quantity" style="width: 76px;"><b>Số Lượng</b></td>
                            <td class="cart-summ" style="width: 70px;"><b>Tổng</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngIf="this.card">
                        <tr *ngFor="let item of this.card">
                            <td class="cart-image">
                                <a>
                                    <img src="../assets/image/{{item.c_product_id.pro_avatar}}" alt="Similique delectus totam">
                                </a>
                            </td>
                            <td class="cart-ttl">
                                <b>{{this.item.c_product_id.pr_name}}</b>
                            </td>
                            <td class="cart-quantity">
                                <p class="cart-qnt">
                                    <input style="color: blue;" readonly value="{{this.item.c_qty}}" type="text">
                                </p>
                            </td>
                            <td style="padding-right: 0;" class="cart-summ">
                                <b>{{this.item.c_qty*this.item.c_product_id.pro_pay | currency : "VND"}}</b>
                                <p class="cart-forone">unit price <b>{{this.item.c_qty*this.item.c_product_id.pro_pay | currency : "VND"}}</b></p>
                            </td>
                        </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
                <ul class="cart-total">
                    <li style="margin-right: 4px;" class="cart-summ">Tổng Tiền : <b>{{this.SumCard() | currency : "VND"}}</b></li>
                </ul>
                <div class="cart-submit">
                    <input type="submit" value="Xác Nhận" style="cursor: pointer;" class="cart-submit-btn">
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
  </section>
</main>
<!-- Main Content - end -->
