<!-- Main Content - start -->
<main>
  <section class="container stylization maincont">


      <ul class="b-crumbs">
          <li>
              <a href="index.html">
                  Home
              </a>
          </li>
          <li>
              <span>TRANSACTION</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>TRANSACTION</span></h1>
      <div class="auth-wrap">
          <div class="auth-col">
              <h2 style="color: #0c7dde;">THÔNG TIN NHẬN HÀNG</h2>
              <form method="post" class="login" style="margin-top: 21px;">
                  <p>
                      <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username">
                  </p>
                  <p>
                      <label for="password">Password <span class="required">*</span></label><input type="password" id="password">
                  </p>
                  <p class="auth-submit">
                      <input type="submit" value="Login">
                      <input type="checkbox" id="rememberme" value="forever">
                      <label for="rememberme">Remember me</label>
                  </p>
              </form>
          </div>
          <div class="auth-col">
              <h2 style="margin : 0;color: #40c74a;text-transform: uppercase;">Danh Sách SẢN PHẨM</h2>
              <form action="#">

                <div class="cart-items-wrap">
                    <table class="cart-items">
                        <thead>
                        <tr>
                            <td class="cart-image"><b>Photo</b></td>
                            <td class="cart-ttl" style="width: 200px;"><b>TÊN Sản Phẩm</b></td>
                            <td class="cart-quantity"><b>Số Lượng</b></td>
                            <td class="cart-summ" style="width: 41px;"><b>Tổng</b></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="cart-image">
                                <a>
                                    <img style="margin: 0" src="http://placehold.it/61x80" alt="Similique delectus totam">
                                </a>
                            </td>
                            <td class="cart-ttl">
                                <b>Similique delectus totam</b>
                            </td>
                            <td class="cart-quantity">
                                <p class="cart-qnt">
                                    <input readonly value="1" type="text">
                                </p>
                            </td>
                            <td class="cart-summ">
                                <b>$220</b>
                                <p class="cart-forone">unit price <b>$220</b></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="cart-total">
                    <li style="margin-right: 4px;" class="cart-summ">TOTAL: <b>$815</b></li>
                </ul>
                <div class="cart-submit">
                    <a href="#" class="cart-submit-btn">Checkout</a>
                </div>
              </form>
          </div>
      </div>



  </section>
</main>
<!-- Main Content - end -->
