.auth-wrap .auth-col label {
  width: 20%;
  text-align: left;
  padding-right: 15px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
}

.cart-submit input[type=submit]:hover {
  background: #2eb345;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
