<!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container">
            <ul class="contactinfo nav nav-pills">
                <li>
                    <i class='fa fa-phone'></i> 0327208007
                </li>
                <li>
                    <i class="fa fa-envelope"></i> admin@.pro
                </li>
            </ul>
            <!-- Social links -->
            <ul class="social-icons nav navbar-nav">
                <li>
                    <a href="http://facebook.com" rel="nofollow" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="http://google.com" rel="nofollow" target="_blank">
                        <i class="fab fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com" rel="nofollow" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="http://vk.com" rel="nofollow" target="_blank">
                        <i class="fab fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a href="http://instagram.com" rel="nofollow" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>		</div>
    </div>
    <!-- Topbar - end -->

    <!-- Logo, Shop-menu - start -->
    <div class="header-middle">
        <div class="container header-middle-cont">
            <div class="toplogo">
                <a href="index.html">
                    <img src="../assets/TemplateProduct/img/logo.png" alt="AllStore - MultiConcept eCommerce Template">
                </a>
            </div>
            <div class="shop-menu" style="float: right;">
                <ul>
                    <li *ngIf="this.userLogined == null;else user123"  class="topauth">
                        <a [routerLink] = "['/register']">
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Đăng Ký</span>
                        </a>
                        <a [routerLink] = "['/login']">
                            <span class="shop-menu-ttl">Đăng Nhập</span>
                        </a>
                    </li>

                    <ng-template #user123>
                        <li style="margin-right: -12px;" class="topauth">
                        <div class="dropdown">
                        <a style="background: none;cursor: pointer;">
                            <i class="fa fa-user"></i>
                            <span class="shop-menu-ttl">{{this.userLogined.name}}</span>
                        </a>
                        <div class="dropdown-content" style="padding: 0;">
                          <p style="padding: 10px;border-bottom: 1px solid #ccc;">
                            <i class="fas fa-user" style="padding-right: 8px;"></i>
                            <a [routerLink]="['/user-account']" style="background: none;">Thông Tin Account</a></p>
                          <p  style="padding: 10px;border-bottom: 1px solid #ccc;">
                            <i class="fas fa-gifts" style="padding-right: 8px;"></i>
                            <a [routerLink]="['/order']" style="background: none;">Đơn Hàng Của Tôi</a>
                          </p>
                          <p style="padding: 10px;">
                            <i class="fas fa-sign-out-alt" style="padding-right: 8px;"></i>
                            <a (click)="Logout()" style="background: none;">Đăng Xuất</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    </ng-template>
                    <li>
                        <div class="h-cart">
                            <a [routerLink]= "['/card']">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="shop-menu-ttl">Giỏ Hàng</span>
                                (<b>{{this.totalCard}}</b>)
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- Logo, Shop-menu - end -->

    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container" style="padding: 0;">
            <nav class="topmenu">

                <!-- Catalog menu - start -->
                <div class="topcatalog">
                    <a class="topcatalog-btn" style="cursor: pointer;background-color: #9c9c9c;color: white;"><span>TẤT CẢ</span> DANH MỤC</a>
                    <ul class="topcatalog-list">
                        <li *ngFor="let item of this.cateGoryGroupList">
                            <a style="cursor: pointer;">
                                {{item.name}}
                            </a>
                            <i class="fa fa-angle-right"></i>
                            <ul>
                                <ng-container *ngFor="let item2 of this.cateGoryList">
                                  <li *ngIf="item.id == item2.c_group_id.id">
                                    <a [routerLink]="['/category/',item2.id]">
                                        {{item2.c_name}}
                                    </a>
                                  </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Catalog menu - end -->

                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>

                <ul class="mainmenu">
                    <!-- <li>
                        <a [routerLink]="['/']">
                            Trang Chủ
                        </a>
                    </li> -->
                    <li>
                        <a href="/all-products">
                            Tất Cả Sản Phẩm
                        </a>
                    </li>
                    <li class="mainmenu-more">
                        <span>...</span>
                        <ul class="mainmenu-sub"></ul>
                    </li>
                </ul>
                <!-- Main menu - end -->

                <!-- Search - start -->
                <!-- Search - end -->

            </nav>		
        </div>
    </div>
    <!-- Topmenu - end -->

</header>
<!-- Header - end -->

<router-outlet></router-outlet>



<!-- Footer - end -->
