<div class="container">
  <div class="wrapper">
    <div class="title"><span>ADMIN</span></div>
    <form action="#">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Email or Phone" required>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" required>
      </div>
      <div class="row button">
        <input type="submit" value="Đăng Nhập">
      </div>
    </form>
  </div>
</div>
