<div *ngIf="registerSuccess">
    Dang Ky Thanh Cong
</div>

<form (ngSubmit) = "Submit()" [formGroup] = "registerForm">
    Name :  <input type="text" formControlName="name"><br>
    User_Name : <input type="text" formControlName="user_name"><br>
    PassWord : <input type="text" formControlName="password"><br>
    Email : <input type="text" formControlName="email"><br>
    Phone : <input type="text" formControlName="phone"><br>
    Address : <input type="text" formControlName="address"><br>
    Avatar : <input type="file" (change) = "selectedFile($event)"><br>
    <input type="submit" value="Dang Ky">
</form>
{{message}}
{{registerForm.value | json}}




